<div class="footer">
	<span>
		<span style="color:#80e4fc;display:inline;margin:0;"><%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %></span>
	</span>
	<%= link_to "by THE MYDAS", "#", :target => "_blank" %>
</div>

